arm_template/ARMTemplateForFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "databricks-course-adfumang"
        },
        "ls_formula1dl_storage_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'ls_formula1dl_storage'"
        },
        "AzureDatabricks1_properties_typeProperties_existingClusterId": {
            "type": "string",
            "defaultValue": "0625-092658-tg8a498j"
        },
        "ls_formula1dl_storage_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://formula1dlumang.dfs.core.windows.net/"
        },
        "tr_process_formula1data_properties_pipeline_parameters_p_window_end_date": {
            "type": "string",
            "defaultValue": "@trigger().outputs.windowEndTime"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/ds_formula1_raw')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_formula1dl_storage",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "p_window_end_date": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": {
                            "value": "@formatDateTime(dataset().p_window_end_date,'yyyy-MM-dd')",
                            "type": "Expression"
                        },
                        "fileSystem": "raw"
                    }
                },
                "schema": {
                    "type": "object",
                    "properties": {
                        "constructorId": {
                            "type": "integer"
                        },
                        "constructorRef": {
                            "type": "string"
                        },
                        "name": {
                            "type": "string"
                        },
                        "nationality": {
                            "type": "string"
                        },
                        "url": {
                            "type": "string"
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_formula1dl_storage')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "https://adb-4061798549179450.10.azuredatabricks.net",
                    "authentication": "MSI",
                    "workspaceResourceId": "/subscriptions/5a911716-ac3b-4b4c-a2ac-9f1a7359289e/resourceGroups/Databrickscourse-rg/providers/Microsoft.Databricks/workspaces/Databrickscourse_WS",
                    "existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_formula1dl_storage')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('ls_formula1dl_storage_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('ls_formula1dl_storage_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/pl_ingest_formula1_data')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Get Folder Details",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "ds_formula1_raw",
                                "type": "DatasetReference",
                                "parameters": {
                                    "p_window_end_date": {
                                        "value": "@pipeline().parameters.p_window_end_date",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "fieldList": [
                                "exists"
                            ],
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true,
                                "enablePartitionDiscovery": false
                            },
                            "formatSettings": {
                                "type": "JsonReadSettings"
                            }
                        }
                    },
                    {
                        "name": "If Folder Exists",
                        "type": "IfCondition",
                        "dependsOn": [
                            {
                                "activity": "Get Folder Details",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@activity('Get Folder Details').output.exists",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "Ingest Circuit file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Formula1proj/Ingestion/1. ingest_circuits_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@pipeline().parameters.v_data_source",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd' )",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "AzureDatabricks1",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "Ingest Races file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Formula1proj/Ingestion/2. ingest_races_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@pipeline().parameters.v_data_source",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd' )",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "AzureDatabricks1",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "Ingest constructors file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Formula1proj/Ingestion/3.ingest_constructors_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@pipeline().parameters.v_data_source",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd' )",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "AzureDatabricks1",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "Ingest drivers file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Formula1proj/Ingestion/4. ingest_drivers_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@pipeline().parameters.v_data_source",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd' )",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "AzureDatabricks1",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "Ingest results file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Formula1proj/Ingestion/5. ingest_Results_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@pipeline().parameters.v_data_source",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd' )",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "AzureDatabricks1",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "Ingest pitstops file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Formula1proj/Ingestion/6. ingest_Pitstops_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@pipeline().parameters.v_data_source",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd' )",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "AzureDatabricks1",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "Ingest lap times",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Formula1proj/Ingestion/7. ingest_lap_times_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@pipeline().parameters.v_data_source",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd' )",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "AzureDatabricks1",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "Ingest qualifying file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Formula1proj/Ingestion/8. ingest_qualifying_json_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@pipeline().parameters.v_data_source",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd' )",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "AzureDatabricks1",
                                        "type": "LinkedServiceReference"
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "v_data_source": {
                        "type": "string",
                        "defaultValue": "Ergast"
                    },
                    "p_window_end_date": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2024-07-19T08:06:36Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_formula1_raw')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/pl_transform_formula1_data')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Get Folder Details",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "ds_formula1_raw",
                                "type": "DatasetReference",
                                "parameters": {
                                    "p_window_end_date": {
                                        "value": "@pipeline().parameters.p_window_end_date",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "fieldList": [
                                "exists"
                            ],
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true,
                                "enablePartitionDiscovery": false
                            },
                            "formatSettings": {
                                "type": "JsonReadSettings"
                            }
                        }
                    },
                    {
                        "name": "If Folder Exists",
                        "type": "IfCondition",
                        "dependsOn": [
                            {
                                "activity": "Get Folder Details",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@activity('Get Folder Details').output.exists",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "Transform race results",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Formula1proj/Trans/1.race_results",
                                        "baseParameters": {
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd' )",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "AzureDatabricks1",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "Transform driver standings",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "Transform race results",
                                            "dependencyConditions": [
                                                "Completed"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Formula1proj/Trans/2.driver_standings",
                                        "baseParameters": {
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd' )",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "AzureDatabricks1",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "Transform constructor standings",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "Transform race results",
                                            "dependencyConditions": [
                                                "Completed"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Formula1proj/Trans/3.constructor_standings",
                                        "baseParameters": {
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd' )",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "AzureDatabricks1",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "Transform calculated race results",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Formula1proj/Trans/4.calculated_race_results",
                                        "baseParameters": {
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd' )",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "AzureDatabricks1",
                                        "type": "LinkedServiceReference"
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "v_data_source": {
                        "type": "string",
                        "defaultValue": "Ergast"
                    },
                    "p_window_end_date": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2024-07-19T08:06:36Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_formula1_raw')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/pl_process_formula1data')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Execute Ingestion",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "pl_ingest_formula1_data",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "p_window_end_date": {
                                    "value": "@pipeline().parameters.p_window_end_date",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "Execute Transformation",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Execute Ingestion",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "pl_transform_formula1_data",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "p_window_end_date": {
                                    "value": "@pipeline().parameters.p_window_end_date",
                                    "type": "Expression"
                                }
                            }
                        }
                    }
                ],
                "concurrency": 1,
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "p_window_end_date": {
                        "type": "string"
                    }
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/pl_ingest_formula1_data')]",
                "[concat(variables('factoryId'), '/pipelines/pl_transform_formula1_data')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/tr_process_formula1data')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipeline": {
                    "pipelineReference": {
                        "referenceName": "pl_process_formula1data",
                        "type": "PipelineReference"
                    },
                    "parameters": {
                        "p_window_end_date": "[parameters('tr_process_formula1data_properties_pipeline_parameters_p_window_end_date')]"
                    }
                },
                "type": "TumblingWindowTrigger",
                "typeProperties": {
                    "frequency": "Hour",
                    "interval": 168,
                    "startTime": "2021-03-14T10:00:00Z",
                    "endTime": "2021-04-25T10:00:00Z",
                    "delay": "00:00:00",
                    "maxConcurrency": 1,
                    "retryPolicy": {
                        "intervalInSeconds": 30
                    },
                    "dependsOn": []
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/pl_process_formula1data')]"
            ]
        }
    ]
}